.intro {
  display: flex;
  color: rgba($white, 0.7);
  h2 {
    color: $white;
    &::after {
      width: 20%;
      content: "";
      height: 2px;
      background: rgba($white, 0.5);
      display: block;
      margin: 1.5rem auto 0;
    }
  }
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 30em) 1fr;
  }
}

.intro-middle {
  background: $dark-blue;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
}
