.portfolio {
  text-align: center;
  background: $light-gray;
}
.container {
  margin: 3rem;
  padding: 3%;

  @media (max-width: 600px) {
    margin: 0rem;
    padding-top: 4%;
  }
}
.portfolio-item {
  max-height: 200px;
  position: relative;
  overflow: hidden;
  margin: 0;

  img {
    height: 100%;
    min-width: 100%;
    display: block;
  }
  figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($accent, 0.8);
    color: $white;
    padding: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 200ms;
    @media (max-width: 900px) {
      padding: 1em;
    }
  }

  &:focus figcaption,
  &:hover figcaption {
    top: 0;
  }
}
.portfolio-title {
  color: $white;
  font-size: 3rem;
  margin-bottom: auto;
  letter-spacing: 0;

  @media (max-width: 900px) {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .featured & {
    font-size: 2rem;
    letter-spacing: 0;
  }
}

.portfolio-desc {
  display: none;
  .featured & {
    display: block;
  }
}
.portfolio-link {
  color: $white;
  font-weight: $fw-b;
}

@supports (display: grid) {
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    max-height: 250px;
    @media (min-width: 50em) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      max-height: 400px;
    }
  }

  .featured {
    .portfolio-title {
      font-size: 5rem;
      @media (max-width: 900px) {
        font-size: 3rem;
        letter-spacing: 0;
      }
    }

    .portfolio-desc {
      display: block;
    }
  }
}

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: white;
  box-shadow: 0 0 0 3em rgba(black, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;

  display: none;

  &.is-open {
    display: block;
  }
}

.modal-close {
  background: white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.5);
}

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
}

.header-one {
  background-image: url(../img/portfolio-01.jpg);
}

.header-two {
  background-image: url(../img/portfolio-02.jpg);
}

.portfolio-title-box {
  background: rgba($accent, 0.75);
  padding: 3em 0 3em 3em;
  color: white;
  width: 70%;

  .portfolio-title {
    font-size: 3.5rem;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      height: 1px;
      margin: 0.5em 0;
      background: white;
      width: 100%;
    }
  }
}

.portfolio-subtitle {
  font-size: 1rem;
}

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.portfolio-full-width {
  width: 80vw;
  margin: 0 auto;
  height: 15vh;
  object-fit: cover;
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
